version: '3.9'

services:
#docker run -id -p 50000:50000 -p8880:8080 --name jenkins -v jenkins_volume:/var/jenkins_home/ --network=docker_network jenkins/jenkins:jdk11    
    jenkins:
        container_name: jenkins
        image: jenkins/jenkins:jdk11
        ports:
            - "50000:50000"
            - "8880:8080"
        volumes:
            - ../volumes/jenkins:/var/jenkins_home
        networks: 
            - docker_network

#docker run -it -id --name ubuntuslave -v /var/run/docker.sock:/var/run/docker.sock --network=docker_network ubu
#docker exec -it ubuntuslave /bin/bash
#java -jar agent.jar -jnlpUrl http://192.168.44.44:8880/computer/Slave/jenkins-agent.jnlp -secret 289ea244127f8f53187c9b564536d600f28fd44a59b93ead8b20defe331dc603 -workDir "/home/"
    ubuntu_slave:
        container_name: ubuntuslave
        depends_on: 
            - jenkins
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
        build:
            context: ../dockerfiles/slave/
        command: java -jar agent.jar -jnlpUrl http://jenkins:8080/computer/Slave/jenkins-agent.jnlp -secret 289ea244127f8f53187c9b564536d600f28fd44a59b93ead8b20defe331dc603 -workDir "/home/"
        networks: 
            - docker_network

#docker run -id -p 8081-8082:8081-8082 --name artifactorypro -v ~/artifactory/:/var/opt/jfrog/artifactory/ --network=docker_network docker.bintray.io/jfrog/artifactory-pro  
    artifactory:
        image: docker.bintray.io/jfrog/artifactory-oss
        container_name: artifactory
        ports:
            - "8081-8082:8081-8082"
        volumes:
            - ../volumes/artifactory:/var/opt/jfrog/artifactory
        networks:
            - docker_network
    
#docker run -id -p 4444:4444 --name seleniumhub --network=docker_network selenium/hub
    selenium_hub:
        container_name: seleniumhub
        image: selenium/hub
        ports:
            - "4444:4444"
        networks:
            - docker_network

#docker run -id --name seleniumnode --network=docker_network -e HUB_HOST=seleniumhub selenium/node-firefox
    selenium_firefox:
        container_name: seleniumfirefox
        image: selenium/node-firefox
        depends_on: 
            - selenium_hub
        environment: 
            - HUB_HOST=seleniumhub
            - HIB_PORT=4444
        networks:
            - docker_network

networks:
    docker_network:
        driver: bridge